* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
}

.container {
    height: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-image: linear-gradient( 45deg, #12c2e9, #c471ed, #f64f59);
    display: grid;
    border-radius: 30px;
    grid-template-columns: repeat(4, 0.2fr);
}

input {
    grid-column: span 4;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: end;
    background-color: rgba(198, 207, 181, 0.646);
    color: white;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 9px;
    padding: 20px;
}

button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
    margin: 13px;
    background-color: black;
    color: beige;
    font-size: 23px;
    text-align: center;
}

.clear {
    grid-column-start: 2;
}